<section id="buttons" class="segment">
	<h2>Buttons</h2>
	<div class="wrapper">
		<div class="sample">
			<button>Button</button>
		</div>
		<div class="code">
			<pre>
				<code class="language-markup">
					<button>Button</button>
				</code>
			</pre>
		</div>
	</div>
	<div class="wrapper">
		<div class="sample">
			<button class="button-fancy-large">Button Fancy Large</button>
		</div>
		<div class="code">
			<pre>
				<code class="language-markup">
					<button class="button-fancy-large">Button Fancy Large</button>
				</code>
			</pre>
		</div>
	</div>
</section>
