<div class="top-banner" role="banner">
	<button class="menu-toggle"><i class="menu-icon fa fa-bars"></i><span class="visually-hidden">Menu</span></button>
	<h1 class="primary-logo">
		<a href="#"><img src="http://dev08-sitegenesis-dw.demandware.net/on/demandware.static/Sites-SiteGenesis-Site/-/default/v1412876674461/images/logo.png" alt="Demandware SiteGenesis">
			<span class="visually-hidden">Demandware SiteGenesis</span>
		</a>
	</h1>

	<nav id="navigation" role="navigation">
		<div class="header-search">
			<form role="search" action="#" method="get" name="simpleSearch" novalidate="novalidate">
				<fieldset>
				<legend class="visually-hidden">Search Catalog</legend>
				<label class="fa fa-search" for="q"><span class="visually-hidden">Search</span></label>
				<input type="text" id="q" name="q" value="" placeholder="Enter Keyword or Item #" autocomplete="off" aria-invalid="false" class="valid">
				</fieldset>
			</form>
		</div>

		<ul class="menu-category level-1">
			<li>
				<i class="menu-item-toggle fa fa-chevron-right"></i>
				<a class="has-sub-menu" href="#">New Arrivals</a>

				<div class="level-2">
					<ul class="menu-vertical">
						<li><a href="#">Womens</a></li>
						<li><a href="#">Mens</a></li>
						<li><a href="#">Electronics</a></li>
					</ul>

					<div class="banner">
						<a href="#"><img width="195" height="195" src="http://dev08-sitegenesis-dw.demandware.net/on/demandware.static/Sites-SiteGenesis-Site/Sites-storefront-catalog-en/default/v1412876674461/images/MenuBanner-New%20Arrivals.jpg" alt="New Arrivals"></a>
					</div>
				</div>
			</li>

			<li>
				<i class="menu-item-toggle fa fa-chevron-right"></i>
				<a class="has-sub-menu" href="#">Womens</a>
				<div class="level-2">
					<ul class="menu-horizontal">
						<li>
							<a href="#">Clothing</a>
							<ul class="level-3">
								<li><a href="#">Outfits</a></li>
								<li><a href="#">Tops</a></li>
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Bottoms</a></li>
								<li><a href="#">Jackets &amp; Coats</a></li>
								<li><a href="#">Feeling Red</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Jewelry</a>
							<ul class="level-3">
								<li><a href="#">Earrings</a></li>
								<li><a href="#">Bracelets</a></li>
								<li><a href="#">Necklaces</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Accessories</a>
						</li>
					</ul>
					<div class="banner"><a href="#"><img width="433" height="80" src="http://dev08-sitegenesis-dw.demandware.net/on/demandware.static/Sites-SiteGenesis-Site/Sites-storefront-catalog-en/default/v1412876674461/images/WomensMenuBottomBanner.jpg" alt="Womans Catalog"></a></div>
				</div>
			</li>

			<li>
				<i class="menu-item-toggle fa fa-chevron-right"></i>
				<a class="has-sub-menu" href="#">Mens</a>
				<div class="level-2">
					<ul class="menu-vertical">
						<li>
							<a href="#">Clothing</a>
							<ul class="level-3">
								<li><a href="#">Suits</a></li>
								<li><a href="#">Jackets &amp; Coats</a></li>
								<li><a href="#">Dress Shirts</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Accessories</a>
							<ul class="level-3">
								<li><a href="#">Ties</a></li>
								<li><a href="#">Gloves</a></li>
								<li><a href="#">Luggage</a></li>
							</ul>
						</li>
					</ul>
					<div class="banner"><a href="#"><img width="195" height="195" src="http://dev08-sitegenesis-dw.demandware.net/on/demandware.static/Sites-SiteGenesis-Site/Sites-storefront-catalog-en/default/v1412876674461/images/MenuBanner-Mens.jpg" alt="Mens Items"></a></div>
				</div>
			</li>

			<li>
				<i class="menu-item-toggle fa fa-chevron-right"></i>
				<a class="has-sub-menu" href="#">Electronics</a>
				<div class="level-2">
					<ul class="menu-vertical">
						<li><a href="#">Televisions</a></li>
						<li><a href="#">Digital Cameras</a></li>
						<li><a href="#">iPod &amp; MP3 Players</a></li>
						<li><a href="#">GPS Navigation</a></li>
						<li><a href="#">Gaming</a></li>
					</ul>
					<div class="banner"><a href="#"><img width="195" height="195" src="http://dev08-sitegenesis-dw.demandware.net/on/demandware.static/Sites-SiteGenesis-Site/Sites-storefront-catalog-en/default/v1412876674461/images/MenuBanner-Electronics.jpg" alt="Electronics products"></a></div>
				</div>
			</li>

			<li>
				<a class="" href="#">Gift Certificates</a>
			</li>

			<li>
				<a class="" href="#">Top Seller</a>
			</li>
		</ul>


		<div class="header-banner">
			<div class="html-slot-container"><strong>FREE 2-Day SHIPPING</strong> FOR ORDERS OVER $300</div>
		</div>

		<ul class="menu-utility-user">
			<li class="currency-converter">
				<span>Currency</span>
				<select name="currencyMnemonic">
					<option class="currency-converter-option" value="USD" selected="selected">USD</option>
					<option class="currency-converter-option" value="EUR">EUR</option>
				</select>
			</li>

			<li class="user-info">
				<a title="Login" href="#" class="user-login">Login</a> /
				<a title="Register" href="#" class="user-register">Register</a>
			</li>
			<li>
				<a href="#" title="Wish List">Wish List</a>
			</li>
			<li>
				<a href="#" title="Gift Registry">Gift Registry</a>
			</li>
			<li>
				<a href="#" title="Store Locator">Store Locator</a>
			</li>
		</ul>
	</nav>
</div>
