#footer {
	background-color: #84bd00;
	clear: both;
	letter-spacing: 1px;
}
.footerTable {
	display: table;
	footer {
		display: table-row;
	}
	.footerCell {
		display: block;
		padding: 1.5em;
		width:100%;
		@media screen and (min-width: 768px) {
			display: table-cell;
			width: 25%;		
		}
	}
	h3 {
		text-transform: uppercase;
	}
	.menu-footer {
		float: none;
		margin: 1em 0;
		padding: 0;
		li {
			float: none;
			line-height: 2.5em;
			list-style: none !important;
		}
	}
	a {
		color: $white;
		&:hover {
			color: $very-light-gray;
			text-decoration: none;
		}
	}
	ul.social-links {
		padding-bottom:2em;
		li {
		display: inline;
		padding-right: 0.5em;
		}
	}
}

#email-alert-signup {
	white-space: nowrap;
	input {
		&[type="text"] {
			border: none;
			margin-left: 0;
			width: 15em;
		}
	}
	button {
		background-color: $dark-gray;
		border: none;
		color: $white;
		height: 31px;
		padding: 0;
		width: 31px;
	}
}

.copyright {
	color: $white;
	text-align: center;
}

.postscript {
	color: $white;
	font-family: $serif;
	font-style: italic;
	text-align: center;
}