body {
  background: none repeat scroll 0 0 #333333;
  color: #333333;
  font-family: Arial,sans-serif;
  font-size: 12px;
}

a {
  color: #333333;
  outline: medium none;
  overflow: hidden;
  text-decoration: none;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  padding: 1em;
  vertical-align: top;
}