.select-bonus-btn,
.no-bonus-btn {
	float: left;
	margin: 0 5px 0 0;
}

.buttonbar {
	margin: 11px 0;
	overflow: hidden;
}

.bonus-product-list {
	.bonus-product-item {
		border-bottom: 1px solid $gainsboro;
		clear: both;
	}
	.product-name {
		float: none;
		margin: 1em 0;
	}
	.product-add-to-cart button {
		float: left;
		margin-top: 22px;
		margin-left: 2%;
	}
	.quantity-error {
		color: red;
		text-transform: inherit;
	}
	.bonus-product-list-footer {
		@extend %clearfix;
		padding-top: 1em;
		padding-bottom: 1em;
		.add-to-cart-bonus {
			float: right;
		}
	}
	.selected-bonus-item {
		margin: 1em 0 1em 1em;
		position: relative;
		.item-name {
			font-weight: bold;
		}
		.remove-link {
			cursor: pointer;
			color: $sangria;
			left: -1em;
			position: absolute;
			&:hover {
				color: $charcoal;
			}
		}
	}
}
