/* gift certificates */
/* ------------------------------------- */

.gift-certificate-purchase{background:none repeat scroll 0 0 #F3F3F3;padding:10px;}
.gift-certificate-purchase .content-asset{float:left;width:50%;}
.gift-certificate-purchase .content-asset img{margin:20px 0;}
.gift-certificate-purchase form{background:none repeat scroll 0 0 #FFFFFF;float:right;padding:0 20px 20px;width:40%;}
.gift-certificate-purchase form .input-text{width:90%;}
.gift-certificate-purchase form .input-textarea{width:90%;}
.gift-certificate-purchase form .cert-amount{clear:none;float:left;margin:0;width:40%;}
.gift-certificate-purchase form .form-row-button{clear:none;float:left;margin:25px 0 0 20px;width:50%;}
.gift-certificate-purchase .cert-amount .form-caption{margin:20px 0 0;position:absolute;width:40%;}
.gift-certificate-purchase .cert-amount.error{padding-bottom:35px;}
.gift-certificate-purchase span.error {margin-left:2%;}
.check-balance{border-bottom:1px solid #D9D9D9;margin:0 0 20px;padding:0 0 20px;}
.gift-cert-balance{float:left;width:40%;}
.gift-cert-balance input{margin-top:0;width:90%;}
.gift-cert-balance .form-caption{margin-left:0;}
.gift-cert-balance-submit{clear:none;float:left;}
.gift-cert-balance .label {display:none;}