.main-header {
	@extend .clearfix;
	margin-bottom: 1em;
	padding-top: 0.5em;
}

.primary-logo {
	left: 0;
	margin: 0;
	position: absolute;
	top: 22px;
	a {
		display: block;
	}
	.primary-logo {
		left: 0;
		margin: 0;
		position: absolute;
		top: 22px;
		a {
			display: block;
		}
		span {
			left: -999em;
			position: absolute;
		}
	}
}

.header-banner {
	clear: both;
	float: right;
	font-size: 1.2em;
	margin: 0 6px;
	.ie7 & {
		width: 350px;
	}
}

.menu-utility {
	clear: both;
	color: $nobel;
	float: right;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0;
	text-transform: uppercase;
	.ie7 & {
		width: 350px;
	}
}

.menu-utility-user {
	color: $nobel;
	float: right;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin: 6px 10px 0 0;
	padding: 0;
	text-transform: uppercase;
}

.menu-utility li,
.menu-utility-user li {
	border-right: 1px solid;
	float: left;
	list-style: none outside none;
	padding: 0 6px;
	&.last {
		border: none;
	}
}

.header-search {
	position: absolute;
	right: 5px;
	top: 12px;
	z-index: 21;
	input[type="text"] {
		background: none repeat scroll 0 0 $dim-gray;
		border: 0 none;
		color: $white;
		height: 16px;
		margin: 0;
		width: 180px;
	}
	input[type="submit"] {
		background: url("../images/interface/icon-search.png") no-repeat scroll center center transparent;
		border: 0 none;
		height: 32px;
		padding: 8px 0;
		text-indent: -999em;
		width: 32px;
	}
	legend {
		background: none repeat scroll 0 0 transparent;
	}
}
