.top-banner {
	@extend .clearfix;
	padding-top: 0.5em;
	position: relative;
}
.main-header {
	@extend .clearfix;
	padding: 0 0.5em;
	margin-bottom: 1em;
}

.primary-logo {
	margin: 0.2em auto;
	width: 200px; // width of image
	@media screen and (min-width: 768px) {
		float: left;
		margin: 0.5em;
	}
}

// navigation
.menu-toggle {
	border: none;
	display: block;
	float: left;
	margin-left: 0.2em;
	padding: 0.5em;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

nav[role="navigation"] {
	@extend .clearfix;
	left: -20em;
	width: 20em;
	position: absolute;
	top: 0;
	color: $white;
	* {
		box-sizing: border-box;
	}
	@media screen and (min-width: 768px) {
		left: auto;
		position: static;
		top: auto;
		width: auto;
		color: $night-rider;
	}
}

.nav-section {
	@extend .clearfix;
	border-bottom: 5px solid darken($dim-gray, 10%);
	color: $white;
	float: left;
	font-size: 1em;
	margin: 0;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	&:last-child {
		border: none;
	}
	@media screen and (min-width: 768px) {
		border: none;
		color: $nobel;
		float: right;
		width: auto;
	}
	@media screen and (min-width: 960px) {
		font-size: 1.2em;
	}
}

.header-banner {
	padding: 0.8em 1rem;
	@media screen and (min-width: 768px) {
		clear: right;
		margin-bottom: 1em;
	}
}

.menu-utility {
	padding: 0;
	@media screen and (min-width: 768px) {
		clear: right;
	}
	li {
		border-bottom: 1px solid darken($night-rider, 10%);
		&:last-child {
			border: none;
		}
	}
	a {
		color: $white;
		display: block;
		padding: 0.8em 1rem;
		text-decoration: none;
		width: 100%;
		&:hover {
			background-color: darken($night-rider, 10%);
		}
		&:active {
			color: $pacific-blue;
		}
	}
}

.menu-utility-user {
	padding: 0;
	.currency-converter {
		color: $black;
		display: inline;
		height: 1em;
		width: auto;
	}
	li {
		padding: 0.5em 1rem;
	}
	a {
		color: $pacific-blue;
		&:hover {
			text-decoration: underline;
		}
	}
}

.menu-utility li,
.menu-utility-user li {
	list-style: none;
	@media screen and (min-width: 768px) {
		border-right: 1px solid;
		float: left;
		&:last-of-type {
			border: none;
		}
	}
}

.header-search {
	z-index: 21;
	width: 100%;
	@media screen and (min-width: 768px) {
		position: absolute;
		right: 5px;
		bottom: 12px;
		width: auto;
	}
	input[type="text"] {
		background: none repeat scroll 0 0 $dim-gray;
		border: 0 none;
		color: $white;
		float: left;
		margin: 0;
		height: 2rem;
		width: 75%;
	}
	input[type="submit"] {
		background: url("../images/interface/icon-search.png") no-repeat scroll center center transparent;
		border: 0 none;
		height: 2rem;
		padding: 8px 0;
		text-indent: -999em;
		width: 25%;
	}
	legend {
		background: none repeat scroll 0 0 transparent;
	}
}

.menu-category {
	padding: 0;
	@media screen and (min-width: 768px) {
		background-color: $black;
	}
	li {
		list-style: none;
		border-top: 1px solid darken($night-rider, 10%);
	}
	a {
		color: $mantis;
		display: block;
		font-size: 1.2em;
		width: 100%;
		padding: 1em 1rem;
		&:hover {
			background-color: darken($night-rider, 10%);
		}
	}
}

.level-1 > li {
	&:first-child {
		border: none;
	}
	@media screen and (min-width: 768px) {
		&:hover > a {
			background: none repeat scroll 0 0 $white-smoke;
			color: $black;
		}
	}
}

.level-2 {
	display: none;
	padding-left: 2em;
	.level-1 > .active & {
		display: block;
	}
	.banner {
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
	}
}

.level-3 {
	display: none;
	padding-left: 2em;
	.level-2 > .active & {
		display: block;
	}
}

// ul.level-1 {
// 	li:hover div.level-2 {
// 		display: block;
// 	}
// 	a {
// 		color: $white;
// 		display: block;
// 		font-size: 1.2em;
// 		padding: 10px;
// 		text-transform: uppercase;
// 	}
// }

// div.level-2 {
// 	background: none repeat scroll 0 0 $white-smoke;
// 	box-shadow: 6px 8px 5px -6px rgba($charcoal, 0.5);
// 	display: none;
// 	margin: 0;
// 	padding: 15px;
// 	position: absolute;
// }

// .ie7 div.level-2 {
// 	width: 452px;
// }

// div.level-2 {
// 	.menu-wrapper {
// 		background: none repeat scroll 0 0 $white;
// 		box-shadow: 6px 8px 5px -6px rgba($charcoal, 0.5);
// 		overflow: hidden;
// 	}
// 	ul.level-2 {
// 		float: left;
// 		margin: 0;
// 		padding: 0;
// 		li {
// 			float: none;
// 			min-width: 130px;
// 			padding: 7px 5px;
// 		}
// 		a {
// 			line-height: 18px;
// 			color: $night-rider;
// 			font-size: 1em;
// 			font-weight: 700;
// 			padding: 0;
// 		}
// 		.level-3 a {
// 			line-height: normal;
// 		}
// 	}
// 	.custom {
// 		float: right;
// 		text-align: center;
// 		img {
// 			height: auto !important;
// 			width: auto !important;
// 		}
// 	}
// }
// div.menu-horizontal {
// 	ul.level-2 {
// 		float: none;
// 	}
// 	li {
// 		float: left !important;
// 		height: 100%;
// 		li {
// 			border-color: $white-smoke;
// 			border-style: solid;
// 			border-width: 0 1px 0 0;
// 			float: none !important;
// 			height: 100%;
// 		}
// 		&.last li {
// 			border-width: 0 !important;
// 		}
// 	}
// 	.custom {
// 		clear: both;
// 	}
// }

// div.level-3 ul.level-3 {
// 	margin: 0;
// 	padding: 0;
// 	li {
// 		padding: 3px 5px;
// 		width: auto;
// 	}
// 	a {
// 		color: $pacific-blue;
// 		font-weight: 400;
// 		text-transform: none;
// 	}
// }
