.top-banner {
	@extend .clearfix;
	padding-top: 0.5em;
	position: relative;
}
.main-header {
	@extend .clearfix;
	padding: 0 0.5em;
	margin-bottom: 1em;
}

.primary-logo {
	margin: 0.2em auto;
	width: 200px; // width of image
	height: 38px; // height of image
	@media screen and (min-width: 768px) {
		left: 0.5em;
		position: absolute;
	}
}

.menu-toggle {
	border: none;
	display: block;
	float: left;
	margin-left: 0.2em;
	padding: 0.5em;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

nav[role="navigation"] {
	@extend .clearfix;
	left: -20em;
	width: 20em;
	position: absolute;
	top: 0;
	color: $white;
	* {
		box-sizing: border-box;
	}
	@media screen and (min-width: 768px) {
		left: auto;
		position: static;
		top: auto;
		width: auto;
		color: $night-rider;
	}
}

.nav-section {
	@extend .clearfix;
	border-bottom: 5px solid darken($dim-gray, 10%);
	color: $white;
	float: left;
	margin: 0;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	&:last-child {
		border: none;
	}
	@media screen and (min-width: 768px) {
		border: none;
		color: $night-rider;
		float: right;
		width: auto;
	}
}

.header-banner {
	padding: 0.8em 1rem;
	@media screen and (min-width: 768px) {
		clear: right;
	}
}

.menu-utility {
	@media screen and (min-width: 768px) {
		clear: right;
	}
}

.menu-utility-user {
	.currency-converter {
		padding: 0.8em 1rem;
		select {
			display: inline;
			margin: 0;
			height: auto;
			width: auto;
		}
	}
	li {
		@media screen and (min-width: 768px) {
			padding-top: 0.3em;
			&:first-child {
				padding-top: 0;
			}
		}
	}
}

.menu-utility,
.menu-utility-user {
	padding: 0;
	@media screen and (min-width: 768px) {
		font-size: 0.9em;
		margin-bottom: 0.5em;
	}
	li {
		border-top: 1px solid darken($night-rider, 10%);
		list-style: none;
		&:first-child {
			border: none;
		}
		@media screen and (min-width: 768px) {
			border-top: none;
			border-left: 1px solid $dim-gray;
			float: left;
			&:first-child {
				border: none;
			}
		}
	}
	a {
		color: $white;
		display: block;
		padding: 0.8em 1rem;
		text-decoration: none;
		width: 100%;
		&:hover {
			background-color: darken($night-rider, 10%);
		}
		&:active {
			color: $pacific-blue;
		}
		@media screen and (min-width: 768px) {
			color: $night-rider;
			padding: 0 0.8rem;
			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
}

.header-search {
	width: 100%;
	@media screen and (min-width: 768px) {
		float: left;
		margin: 52px 0 0.5em;
		width: 17rem;
	}
	@media screen and (min-width: 960px) {
		margin: 0;
		position: absolute;
		top: auto;
		bottom: 7px;
		right: 5px;
		width: 13rem;
		z-index: 1;
	}
	input[type="text"] {
		background-color: $dim-gray;
		border: none;
		color: $white;
		float: left;
		margin: 0;
		height: 2rem;
		width: 75%;
		@media screen and (min-width: 768px) {
			background-color: transparent;
			border-bottom: 1px solid $dim-gray;
			color: $night-rider;
			float: right;
			width: 14rem;
			&:focus {
				border-bottom-color: $night-rider;
			}
		}
		@media screen and (min-width: 960px) {
			border-bottom: none;
			background-color: $dim-gray;
			color: $white;
			float: left;
			width: 80%;
		}
	}
	input[type="submit"] {
		background: url("../images/interface/icon-search.png") no-repeat scroll center center transparent;
		border: 0 none;
		height: 2rem;
		padding: 8px 0;
		text-indent: -999em;
		width: 25%;
		@media screen and (min-width: 768px) {
			float: left;
			max-width: 3rem;
			pointer-events: none; //disable clicking on the button
		}
		@media screen and (min-width: 960px) {
			pointer-events: auto;
			width: 20%;
		}
	}
	legend {
		background: none repeat scroll 0 0 transparent;
	}
}

.menu-category {
	padding: 0;
	@media screen and (min-width: 768px) {
		background-color: $black;
		width: 100%;
	}
	li {
		list-style: none;
		border-top: 1px solid darken($night-rider, 10%);
		@media screen and (min-width: 768px) {
			border: none;
			float: left;
		}
	}
	a {
		color: $mantis;
		display: block;
		font-size: 1.2em;
		width: 100%;
		padding: 1em 1rem;
		&:hover {
			background-color: darken($night-rider, 10%);
		}
		@media screen and (min-width: 768px) {
			color: $white;
			width: auto;
			&:hover {
				background-color: transparent;
			}
		}
	}
}

.level-1 > li {
	&:first-child {
		border: none;
	}
	@media screen and (min-width: 768px) {
		&:hover > a {
			background-color: $white-smoke;
			color: $black;
		}
	}
}

.level-2 {
	display: none;
	> ul {
		@extend .clearfix;
		padding-left: 2em;
	}
	.level-1 > .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
		background-color: $white;
		box-shadow: 6px 8px 5px -6px rgba($charcoal, 0.5);
		color: $night-rider;
		padding: 0.5em 0;
		position: absolute;
		z-index: 1;
		.level-1 li:hover & {
			display: block;
		}
		a {
			color: $night-rider;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
		> ul {
			float: left;
			padding-left: 0;
			> li {
				float: none;
				min-width: 12em;
				> a {
					padding: 0.5em 1rem;
				}
			}
		}
		.menu-vertical {
			> li > a:first-child {
				padding-top: 1em;
			}
		}
		.menu-horizontal {
			float: none;
			> li {
				border-right: 1px solid $gainsboro;
				float: left;
				&:last-child {
					border-right: none;
				}
			}

		}
		.banner {
			float: left;
		}
	}
	.banner {
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
	}
}

.level-3 {
	display: none;
	padding-left: 2em;
	.level-2 .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
		display: block;
		a {
			color: $mantis;
			font-weight: normal;
			font-size: 1em;
			padding: 0;
			text-transform: none;
		}
		li {
			float: none;
			padding: 0.4em;
		}
	}
}
