.login-box {
  background: none repeat scroll 0 0 #E8E8E8;
  margin: 0 0 2em;
  h3 {
    margin: 0;
  }
}

.login-box-content {
  padding: 0.5em 1.5em;
}

.login-box #dwfrm_oauthlogin select#OAuthProvider {
  display: block;
  margin-bottom: 1em;
  width: 80%;
}