/* product detail page (pdp) */
/* ------------------------------------- */

#product-nav-container{overflow:hidden;position:absolute;right:0;width:160px;}
#product-nav-container div{float:left;text-align:center;width:77px;}
#product-nav-container img{max-height:100%;max-width:80%;}
#product-nav-container span{display:block;height:65px;}
#product-nav-container .divided span{border-right:1px solid #E0E0E0;padding-right:5px;}
.pdp-main ul{list-style:none outside none;margin:0;padding:0;}
.pdp-main label{padding:0;text-align:left;text-transform:uppercase;width:auto;}
.pdp-main .product-col-1{float:left;width:37%;margin-left:1%;}
.pdp-main .product-primary-image{max-width:100%;padding:1em 0 0;text-align:center;}
.primary-image{max-width:100%;}
.pdp-main .product-thumbnails{clear:both;display:inline-block;padding:0px 0.5em;}
.pdp-main .product-thumbnails li{border-top:5px solid #FFFFFF;float:left;margin:0 5px 0 0;padding:3px 0 0;width:55px;}
.pdp-main .product-thumbnails li.selected{border-color:#00A4E4;}
.pdp-main .product-thumbnails li img{border:1px solid #CCCCCC;max-width:53px;}
.pdp-main .product-thumbnails h2{text-transform:uppercase;text-transform: uppercase;font-family: Arial, sans-serif;font-size: 1.5em;font-style: normal;font-weight: bold;margin: .83em 0;}
.pdp-main .product-col-2{float:right;width:59.5%;}
.pdp-main form .input-select{width:auto;}
.pdp-main .product-name{float:right;font-family:Georgia;font-size:1.8em;font-style:italic;font-weight:400;margin:26px 158px 4px 0;width:43%;}
.pdp-main .product-number{color:#CCCCCC;font-size:0.9em;margin:0 0 0.5em 0.5em;}
.pdp-main .product-price{font-size:2em;margin:0 0 0.5em;}
.pdp-main .product-price .price-standard{color:#999999;text-decoration:line-through;}
.pdp-main .product-col-2 .price-standard{border-right:1px solid #E0E0E0;padding-right:8px;}
.pdp-main .product-price .price-tiered{color:#990000;font-size:0.6em;line-height:1.5em;}
.pdp-main .product-review-links{overflow:hidden;}
.pdp-main .product-review-links li{margin-right:1em;}
.pdp-main .attribute{margin:1em 0;overflow:hidden;padding:0;position:relative;}
.pdp-main .attribute h3,.pdp-main .attribute .label{clear:both;float:left;font-size:1em;font-weight:bold;margin:0;padding:4px 0 0;text-transform:uppercase;width:25%;}
.pdp-main .attribute .value{float:right;width:74%;}
.pdp-main .attribute ul{float:right;width:100%;}
.pdp-main .attribute .selected-value{border:0 none;color:#666666;font-family:Georgia;font-style:italic;padding:0.5em 0 0 2em;}
.pdp-main .attribute .size-chart-link{clear:both;float:none;}
.pdp-main .attribute .size-chart-link a{border-color:#FFFFFF !important;padding:0;}
.pdp-main .swatches li{float:left;}
.pdp-main .swatches li:hover a,.pdp-main .swatches li.selected a{border-color:#00A4E4;}
.pdp-main .swatches li.unselectable a{opacity:0.5;}
.pdp-main .swatches li.unselectable:hover a{border-color:#E0E0E0;}
.pdp-main .swatches li.unselectable:hover{border-color:#E0E0E0;}
.pdp-main .swatches li a{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#E0E0E0;border-radius:5px 5px 5px 5px;border-style:solid;border-width:1px 1px 3px;display:block;margin:0 0.3em 0.3em 0.2em;padding:0.3em 0.6em;}
.pdp-main .Color li{border:2px solid #FFFFFF;border-radius:5px 5px 5px 5px;}
.pdp-main .Color li:hover,.pdp-main .Color li.selected{border-color:#00A4E4;}
.pdp-main .Color li:hover a,.pdp-main .Color li.selected a{border-color:#FFFFFF;}
.pdp-main .Color li a{border:1px solid #E0E0E0;height:22px;margin:0;padding:0;text-indent:-999em;width:32px;}
.pdp-main .product-main-attributes .attribute{padding:0.2em 0;}
.pdp-main .product-main-attributes .label{padding:0;}
.pdp-main .product-variations {margin-left:0.5em;}
.pdp-main .product-add-to-cart{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;clear:both;margin:1em 0;overflow:hidden;padding:1.5em 0;}
.product-set .product-add-to-cart{display:block;}
.pdp-main .product-add-to-cart .inventory{float:left;width:15%;}
.pdp-main .product-add-to-cart .inventory label{float:none;}
.pdp-main .product-add-to-cart .inventory input{margin:0.7em 0;width:56px;}
.pdp-main .product-add-to-cart .product-price{float:left;font-size:2.4em;margin:0;padding-top:18px;text-align:right;width:47%;}
.pdp-main .product-add-to-cart button{float:right;margin-top:0.5em;width:37%;}
.pdp-main .product-add-to-cart .availability{position:relative;clear:both;float:left;padding:20px 0 20px 70px;}
.pdp-main .product-add-to-cart .availability .label{position:absolute;left:0px;}
.availability .availability-msg p {margin-top:0px; display:inline;}
.availability .availability-msg{display:inline;}
.availability .in-stock-msg {color:black}
.availability .not-available-msg {color:red}
.availability .preorder-msg {color:blue}
.availability .backorder-msg {color:green}
.availability .in-stock-date-msg {color:red}
.pdp-main .product-actions{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;clear:both;overflow:hidden;padding:1.5em 0;}
.pdp-main .product-actions li{margin:0 1em 0 0;}
.pdp-main .product-actions .social-actions{float:right;}
.pdp-main .product-actions .social-actions li{margin:0 0.2em;}
.pdp-main .product-actions .addthis_toolbox{float:right;}
.pdp-main .recommendations{clear:left;padding:2em 0;width:350px;}
.pdp-main .recommendations h2{font-family:Georgia;font-size:2em;font-style:italic;font-weight:400;margin-left:14px;}
.pdp-main .recommendations li{float:left;width:100px;}
.pdp-main .recommendations .product-tile{padding:0 0.5em;}
.pdp-main .recommendations .product-image{height:90px;}
.pdp-main .recommendations .product-name{font-size:1em;margin:0.2em 0;width:auto;}
.pdp-main .recommendations .product-price{font-size:1em;}
.pdp-main .recommendations .jcarousel-clip{margin:auto;overflow:hidden;width:300px;}
.pdp-main .recommendations .jcarousel-prev{background:url("../images/interface/icon-jcarousel-horiz-arrow-left.png") repeat scroll 0 0 transparent;cursor:pointer;height:17px;left:0;position:absolute;top:20%;width:9px;}
.pdp-main .recommendations .jcarousel-next{background:url("../images/interface/icon-jcarousel-horiz-arrow-right.png") repeat scroll 0 0 transparent;cursor:pointer;height:17px;position:absolute;right:0;top:20%;width:9px;}
.pdp-main .recommendations .jcarousel-prev-disabled{background:none repeat scroll 0 0 transparent;}
.pdp-main .recommendations .jcarousel-next-disabled{background:none repeat scroll 0 0 transparent;}
.pdp-main .recommendations .product-tile:hover .recommendation-tooltip{display:block !important;}
.js .pdp-main .recommendations .product-tile .recommendation-tooltip{display:none !important;}
.pdp-main .recommendations .recommendation-tooltip{background:none repeat scroll 0 0 #FFFFFF;border:1px solid;left:50%;position:absolute;text-align:left;top:50%;width:300px;z-index:100;}
.pdp-main .promotion{background:url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 transparent;clear:both;margin:1em 0;padding:4%;}
.pdp-main .promotion .promotion-title{color:#999999;display:inline-block;font-size:1.5em;line-height:1em;text-transform:uppercase;vertical-align:top;width:20%;}
.pdp-main .promotion .promotion-callout{display:inline-block;line-height:1em;vertical-align:top;width:77%;}
.pdp-main .product-tabs{border:0 none;margin:25px 0 0;}
.print-page {cursor:pointer;}
.pdp-main .product-tabs .print-page {float:right}
.list-table-header .print-page {font-size: 13.2px;float:right;}
.pt_gift-registry .list-table-header .print-page {margin-top:-0.5em;}
.pdp-main .product-tabs .tab-content {min-height:100px;}
.pdp-main .product-tabs .tab-content ul{list-style-type:disc;margin-left: 2em;}
.pdp-main .product-tabs .tab-content ol{list-style-type: decimal;margin-left: 2em;padding: 0px;}
.pdp-main .product-set-list{border-top:1px solid #D9D9D9;margin:0 0 0 6px;}
.pdp-main .product-set-list .product-set-item{border-bottom:1px solid #D9D9D9;clear:both;margin:1em 0;overflow:hidden;padding:1em 0 0;}
.pdp-main .product-set-list .product-set-image{float:left;width:22%;}
.pdp-main .product-set-list .product-set-details{float:left;width:78%;}
.pdp-main .product-set-list .attribute h3,.pdp-main .product-set-list .attribute .label{width:25%;}
.pdp-main .product-set-list .product-name{float:none;font-size:1.3em;margin:0;width:auto;}
.pdp-main .product-set-list .promotion-title{font-size:1.2em;}
.pdp-main .product-set-list .block-add-to-cart{background:none repeat scroll 0 0 #F3F3F3;clear:both;overflow:hidden;padding:0.5em 0;}
.pdp-main .product-set-list .block-add-to-cart .inventory{float:left;margin-left:22%;width:20%;}
.pdp-main .product-set-list .block-add-to-cart label{padding:0.7em 0;text-align:left;width:40%;}
.pdp-main .product-set-list .block-add-to-cart .input-text{width:35px;}
.pdp-main .product-set-list .block-add-to-cart .product-price{float:left;font-size:1.6em;margin:0;padding:6px 0 0;text-align:right;width:35%;}
.pdp-main .product-set-list .block-add-to-cart button{float:right;font-size:0.9em;margin:3px 5px 0 0;padding-left:1em;padding-right:1em;}
.pdp-main .product-set .product-add-to-cart .product-price{width:54%;}
button.add-to-cart[disabled],button.add-all-to-cart[disabled]{opacity:0.5;}
button.add-all-to-cart{display:none;} /* not available in simple ui. */
.js button.add-all-to-cart{display:inherit;} /* available in rich ui. */