/* search results, grid layout */
/* ------------------------------------- */

.pt_product-search-result .primary-content{background:none repeat scroll 0 0 #EFEFEF;}
.pt_content-search-result .primary-content{background:none repeat scroll 0 0 #EFEFEF;}
.pt_product-search-result .primary-content h1.content-header{padding-left:15px;}
.category-main-banner img{max-width:100%;}
.no-hits-search-term{color:#990000;font-style:italic;}
.no-hits-search-term-suggest{color:#990000;font-style:italic;}
.no-hits-footer{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;margin:20px 0;padding:20px 0;}
.search-result-bookmarks{margin:15px;}
.search-result-bookmarks .first{border-right:1px solid #999999;padding-right:5px;}
.search-result-options{margin:17px 0 21px;overflow:hidden;width:100%;}
.sort-by{background:none repeat scroll 0 0 #D9D9D9;border-bottom:1px solid #C2C2C2;float:left;margin:0 0 0 20px;padding:3px 5px;}
.items-per-page{background:none repeat scroll 0 0 #D9D9D9;border-bottom:1px solid #C2C2C2;float:left;margin:0 0 0 20px;padding:3px 5px;}
.sort-by label{display:none;}
.items-per-page label{display:none;}
.sort-by select{background:none repeat scroll 0 0 #D9D9D9;border:0 none;font-size:0.9em;margin:0 6px 0 0;padding:0;width:auto;}
.items-per-page select{background:none repeat scroll 0 0 #D9D9D9;border:0 none;font-size:0.9em;margin:0 6px 0 0;padding:0;width:auto;}
.sort-by button{background:none repeat scroll 0 0 #C2C2C2;border:0 none;color:#333333;font-size:0.9em;padding:0.3em;width:auto;}
.items-per-page button{background:none repeat scroll 0 0 #C2C2C2;border:0 none;color:#333333;font-size:0.9em;padding:0.3em;width:auto;}
.pagination .results-hits{color:#666666;float:left;padding:5px 0;}
.pagination{float:right;margin:0 20px 0 0;}
.pagination ul{float:right;margin:0;padding:0;}
.pagination li{display:block;float:left;list-style:none outside none;padding:0.5em;}
.pagination li.first-last a{background-color:#00A4E3;color:#FFFFFF;font-size:0.9em;padding:0 2px;}
ul.search-result-items{margin:0;padding:0;}
ul.search-result-items li{list-style:none outside none;}
ul.search-result-items .new-row{clear:both;}
ul.search-result-items .grid-tile{background:none repeat scroll 0 0 #FFFFFF;box-shadow:0 0 9px #CCCCCC;float:left;list-style:none outside none;margin:0 0 2% 20px;padding:2%;width:26%;}
ul.search-result-items .grid-tile .product-tile {padding-bottom:35px;}
ul.search-result-items .invisible{display:none;}
.search-result-content{clear:both;}
.search-promo{padding:20px;}
h1#results-content{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;padding-top:30px;}
ul.folder-content-list{margin:0;overflow:hidden;padding:0 20px;}
ul.folder-content-list li{float:left;list-style:none outside none;margin:0;padding:2% 2% 2% 0;width:48%;}
ul.folder-content-list .content-title{display:block;}
.no-results{padding:20px;}
.toggle-grid{background:url("../images/interface/icon-toggle-grid.png") no-repeat scroll left top transparent;cursor:pointer;display:block;float:left;height:11px;margin:2px 10px 0 0;text-indent:-999em;width:24px;}
.wide-tiles ul.search-result-items .grid-tile{width:91%;}
.wide-tiles .product-tile{height:166px !important;}
.wide-tiles .product-tile .product-image{float:left;width:40%;}
.wide-tiles .product-tile .product-name,.wide-tiles .product-tile .product-pricing,.wide-tiles .product-tile .product-promo,.wide-tiles .product-tile .pr_stars,.wide-tiles .product-tile .product-swatches{float:left;text-align:left;width:55%;margin-bottom:5px;}
.wide-tiles .product-tile .product-name {margin-top:0px;}
.wide-tiles .product-tile .pr-snippet-stars{margin:0;}
.wide-tiles .product-tile .pr_stars{left:-5px;}
.wide-tiles .product-tile .product-compare{left:40.5%;width:32px;bottom:5px;line-height:12px;}
.wide-tiles .product-tile .product-swatches{bottom:auto;left:auto;position:relative;right:auto;margin-top:5px;}
.wide-tiles .product-tile .product-swatches li{float:left;}