/* wishlist */
/* ------------------------------------- */

.pt_wish-list .list-table-header{background:url("../images/interface/icon-double-line-header.png") repeat-x scroll left top #EFEFEF;overflow:hidden;padding:2em;}
.pt_wish-list .list-table-header p{color:#999999;float:right;margin:0;overflow:hidden;width:40%;}
.pt_wish-list .primary-content .list-table-header h2{float: left;}